%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3 Location
          %p
            IIT(ISM) Dhanbad
            = succeed "Beverly" do
              %br/
        .footer-col.col-md-4
          %h3 Around the Web
          %ul.list-inline
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-facebook
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-google-plus
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-twitter
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-linkedin
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-dribbble
        .footer-col.col-md-4
          %h3 About Freelancer
          %p
            Freelance is a free to use, open source Bootstrap theme created by
            = succeed "." do
              %a{:href => "http://startbootstrap.com"} Start Bootstrap
  .footer-below
    .container
      .row
        .col-lg-12
          Copyright © vikasblog Website 2016