%body
  %header
    .container
      .row
        .col-lg-12
          = image_tag "profile.jpg",:class=>"img img-responsive profile"
          .intro-text
            %span.name Hello
            %hr.star-light/
            %span.skills Web Developer - Coder - User Experience Designer
