/ Page Content
%br/
.container
  .row
    / Blog Post Content Column
    .col-lg-8
      / Blog Post
      / Title
      %h1= @post.title
      / Author
     
      / Date/Time
      %p
        %span.glyphicon.glyphicon-time
        Posted on 
        = @post.created_at
      %hr/
      / Preview Image
      = image_tag @post.image.url,:class=>"img img-responsive",:widht=>"900",:height=>"300"
      %hr/
      / Post Content
      %p= simple_format(@post.body)
      %hr/
      / Blog Comments
      / Comments Form
      .well
        %h4 Leave a Comment:
        %form{:role => "form"}
          .form-group
            %textarea.form-control{:rows => "3"}
          %button.btn.btn-primary{:type => "submit"} Submit
      %hr/
      / Posted Comments
      / Comment
      .media
        %a.pull-left{:href => "#"}
          %img.media-object{:alt => "", :src => "http://placehold.it/64x64"}/
        .media-body
          %h4.media-heading
            
            %small 
      / Comment
      .media
        %a.pull-left{:href => "#"}
          %img.media-object{:alt => "", :src => "http://placehold.it/64x64"}/
        .media-body
          %h4.media-heading
           
            %small 
          / Nested Comment
          
          / End Nested Comment
    / Blog Sidebar Widgets Column
    .col-md-4
      / Blog Search Well
      .well
        %h4 Blog Search
        .input-group
          %input.form-control{:type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"}
              %span.glyphicon.glyphicon-search
        / /.input-group
      / Blog Categories Well
      .well
        %h4 Blog Categories
        .row
          .col-lg-6
            %ul.list-unstyled
              %li
                %a{:href => "#"} Category Name
              %li
                %a{:href => "#"} Category Name
              %li
                %a{:href => "#"} Category Name
              %li
                %a{:href => "#"} Category Name
          .col-lg-6
            %ul.list-unstyled
              %li
                %a{:href => "#"} Category Name
              %li
                %a{:href => "#"} Category Name
              %li
                %a{:href => "#"} Category Name
              %li
                %a{:href => "#"} Category Name
        / /.row
      / Side Widget Well
      .well
        %h4 Side Widget Well
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
  / /.row
  %hr/
/ /.container
